// Imports

@import 'utils/vars';

// Global Styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-base);
  font-family: var(--ff-base);
}

ul {
  list-style: none;
}
