.container-reviews {
  margin: 0 20px;
  height: 100%;
  border: 1px solid red;

  &__img {
    display: block;
    text-align: center;
  }

  &__text-block {
    margin: 0 auto;
    margin-top: 29px;
  }

  &__text {
    position: relative;
    @include font-properties($ff-base, 500, $fs-base, 255%, 0.01em);
    width: 157px;
    padding-top: 47px;
    margin: 0 auto;
    text-align: center;
  }

  &__quotes-img {
    position: absolute;
    left: 110px;
    top: 150px;
  }

  &__points-block {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }

  &__point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $blueberry-lemonade;
  }

  &__reviewier-data-block {
    margin-top: 18px;
    text-align: center;
  }

  &__reviewier-data {
    @include font-properties($ff-base, 500, $fs-base, 186%, 0.01em);
  }

  &__navigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  &__icon-home {
    fill: $blueberry-lemonade;
  }

  &__nav-sec-rev {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $bgreview-grey;
  }

  &__nav-third-rev {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: $bgreview-grey;
  }
}
