// Global Styles
.container {
  max-width: 480px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 912px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .container-desktop {
    max-width: 1400px;
    margin: 0 auto;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: $fs-base;
  font-family: $ff-base;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
}

ul {
  list-style: none;
}
