$white: #fff;
$black: #000;
$blueberry-lemonade: #d41443;
$amelies-tutu: #ffa5ba;
$gypsy-magic: #907e82;
$amber-moon: #f0d1a5;
$rosie: #ffb8ca;
$jupiter: #e1e1e1;
$sea-salt-sherbet: #fff5f6;
$lickety-split: #c2e297;
$impatient-pink: #e17992;
$ff-base: 'DM Sans';
$ff-alt: 'Titan One';
$fs-base: 1.4rem;
$fs-alt: 1.6rem;
$fs-h1-desk: 3.8rem;
$fs-h1-tab: 2.2rem;
$fs-h1-mob: 2.6rem;
$fs-h2-desk: 3.4rem;
$fs-h2-tab: 2.6rem;
$fs-h2-mob: 1.8rem;
$fs-h3-desk: 5.8rem;
$fs-h3-tab: 4.8rem;
$fs-h3-mob: 3.4rem;
$fs-h4-mob:2.3rem;
