$white: #fff;
$black: #000;
//line height
$lh: 150%;
//letter spacing
$ls: 0.04em;
//font weight
$fw: 500;
$blueberry-lemonade: #d41443;
$amelies-tutu: #ffa5ba;
$gypsy-magic: #907e82;
$amber-moon: #f0d1a5;
$rosie: #ffb8ca;
$jupiter: #e1e1e1;
$sea-salt-sherbet: #fff5f6;
$lickety-split: #c2e297;
$impatient-pink: #e17992;
$bgreview-grey: #d9d9d9;
$social-icon-pink: #fea5bb;
$hover-red: #c7133e;
$hover-background: #ecebeb;
$hover-background-red: #d41342;
$border-menu-modal: #e18298;
$ff-base: 'DM Sans';
$ff-alt: 'Titan One';
$fs-base: 14px;
$fs-alt: 16px;
$fs-h1-desk: 38px;
$fs-h1-tab: 22px;
$fs-h1-mob: 26px;
$fs-h2-desk: 34px;
$fs-h2-tab: 26px;
$fs-h2-mob: 18px;
$fs-h3-desk: 58px;
$fs-h3-tab: 48px;
$fs-h3-mob: 34px;

//font-family,font-weight,font-size,line-height,letter-spacing
@mixin font-properties($ff-base, $fw, $fs-base, $lh, $ls) {
  font-family: $ff-base;
  font-weight: $fw;
  font-size: $fs-base;
  line-height: $lh;
  letter-spacing: $ls;
}

$bounceHard: cubic-bezier(0.85, -0.5, 0.59, 1.7);
$bounceSoft: cubic-bezier(0.85, -0.5, 0.59, 1.2);
