<section class="about-box" id="howmade">
  <h2 class="about-box__header1">tradition and love</h2>
  <h3 class="about-box__header2" title="how it’s made?">how it’s made?</h3>
  <div class="about-box__background">
    <div class="about-box__container">
      <img
        class="about-box__picture"
        src="./images/about/mobile_about@x1.png"
        srcset="
          ./images/about/mobile_about@x2.png   560w,
          ./images/about/mobile_about@x3.png   840w,
          ./images/about/tablet_about@x1.png   340w,
          ./images/about/tablet_about@x2.png   680w,
          ./images/about/tablet_about@x3.png  1020w,
          ./images/about/desktop_about@x1.png  516w,
          ./images/about/desktop_about@x2.png 1032w,
          ./images/about/desktop_about@x3.png 1548w
        "
        alt="cows head, jar of milk and bio eco subtitle"
        sizes="(min-width: 1200px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px, 100vw"
        min-width="280"
      />
      <div class="about-box__text">
        <p class="about-box__text__p1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-box__text__p2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. <span>Cras massa nibh, tincidunt.</span>
        </p>
        <p class="about-box__text__p3">Aliquam erat volutpat. Aenean accumsan.</p>
        <button data-modal-open class="about-box__text__btn" type="button">
          Read more
          <svg class="about-box__text__btn__icon" width="8px" height="12px">
            <use href="./images/icons.svg#icon-vector1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
