<section class="advantages" id="_advantages">
  <ul class="advantages__main">
    <li class="advantages__item">
      <div class="advantages__container advantages__container--milk"></div>
      <div class="advantages__label first">721</div>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <div class="advantages__container advantages__container--fruit"></div>
      <div class="advantages__label second">16kg</div>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <div class="advantages__container advantages__container--ice"></div>
      <div class="advantages__label third">84</div>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
