<section  id="_advantages">
<ul class="advantages">
    <li class="advantages__item">
        <div class="advantages__container advantages__container--milk"></div>
        <div class="advantages__label">721</div>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
        <div class="advantages__container advantages__container--fruit"></div>
        <div class="advantages__label">16kg</div>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
        <div class="advantages__container advantages__container--ice"></div>
        <div class="advantages__label">84</div>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
</section>