<section class="contacts">
  <div class="contacts__background">
    <h2 class="contacts__section-title">Contacts</h2>
    <div class="contacts_flex">
      <!-- karta 1 -->
      <ul class="contacts__cards">
        <li class="contacts__title--beige">CAFE</li>
        <li class="coctacts__city">Chicago</li>
        <li class="contacts__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li>
          <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        </li>
        <li class="contacts__days">Monday - Friday</li>
        <li class="contacts__time">06:00 AM - 10:00 PM</li>
        <li class="contacts__days">Saturday - Sunday</li>

        <li class="contacts__time">08:00 AM - 16:00 PM</li>
        <li>
          <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        </li>
        <li class="contacts__description">+61(0) 383 766 284</li>

        <li class="contacts__description">noreply@envato.com</li>
      </ul>
      <!-- karta 2 -->
      <ul class="contacts__cards">
        <li class="contacts__title--green">CAFE</li>

        <li class="contacts__city">Chicago</li>
        <li class="contacts__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li>
          <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        </li>
        <li class="contacts__days">Monday - Friday</li>
        <li class="contacts__time">06:00 AM - 10:00 PM</li>
        <li class="contacts__days">Saturday - Sunday</li>
        <li class="contacts__time">Saturday - Sunday</li>
        <li>
          <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        </li>
        <li class="contacts__description">+61(0) 383 766 284</li>
        <li class="contacts__description">noreply@envato.com</li>
      </ul>
      <!-- karta 3 -->
      <ul class="contacts__cards">
        <li class="contacts__title--beige">CAFE</li>

        <li class="contacts__city">Chicago</li>
        <li class="contacts__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li>
          <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        </li>
        <li class="contacts__days">Monday - Friday</li>
        <li class="contacts__time">06:00 AM - 10:00 PM</li>
        <li class="contacts__days">Saturday - Sunday</li>
        <li class="contacts__time">Saturday - Sunday</li>
        <li>
          <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        </li>
        <li class="contacts__description">+61(0) 383 766 284</li>
        <li class="contacts__description">noreply@envato.com</li>
      </ul>
    </div>
  </div>
</section>
