<div class="contacts">
  <div clas="contacts__background">
    <div class="contacts_flex">
      <div class="contacts__cards">
        <ul class="contacts__top">
          <li class="contacts__title--beige">CAFE</li>

          <li class="coctacts__city">Chicago</li>
          <li class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        <ul class="contacts__middle">
          <li class="contacts__days">Monday - Friday</li>

          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__days">Saturday - Sunday</li>

          <li class="contacts__time">Saturday - Sunday</li>
        </ul>
        <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        <ul class="contacts__bottom">
          <li class="contacts__description">+61(0) 383 766 284</li>

          <li class="contacts__description">noreply@envato.com</li>
        </ul>
      </div>
      <div class="contacts__cards">
        <ul class="contacts__top">
          <li class="contacts__title--green">CAFE</li>

          <li class="contacts__city">Chicago</li>
          <li class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        <ul class="contacts__middle">
          <li class="contacts__days">Monday - Friday</li>

          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__days">Saturday - Sunday</li>

          <li class="contacts__time">Saturday - Sunday</li>
        </ul>
        <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        <ul class="contacts__bottom">
          <li class="contacts__description">+61(0) 383 766 284</li>

          <li class="contacts__description">noreply@envato.com</li>
        </ul>
      </div>
      <div class="contacts__cards">
        <ul class="contacts__top">
          <li class="contacts__title--beige">CAFE</li>

          <li class="contacts__city">Chicago</li>
          <li class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        <ul class="contacts__middle">
          <li class="contacts__days">Monday - Friday</li>

          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__days">Saturday - Sunday</li>

          <li class="contacts__time">Saturday - Sunday</li>
        </ul>
        <svg src="../projekt-grupa-1/src/images/icons.svg#"></svg>
        <ul class="contacts__bottom">
          <li class="contacts__description">+61(0) 383 766 284</li>

          <li class="contacts__description">noreply@envato.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
