<header class="header">

    <div class="header__mobile-menu">

        <img src="./images/header/logo.png" class="header__logo" srcset="./images/header/logo.png 199w,
            ./images/header/logo@2x.png 398w,
            ./images/header/logo@3x.png 597w" />


        <button class="menu-toggle js-open-menu js-close-menu header__hamburger" aria-expanded="false"
            aria-controls="mobile-menu" type="button">
            <svg class="hamburger header__hamburger" viewBox="0 0 100 100" width="40">

                <rect class="hamburger-top line" width="80" height="5" x="10" y="25" rx="0"></rect>
                <rect class="hamburger-middle line" width="80" height="5" x="10" y="45" rx="0"></rect>
                <rect class="hamburger-bottom line" width="80" height="5" x="10" y="65" rx="0"></rect>

            </svg>
        </button>
    </div>

    <div class="header__slogan">
        <h1 class="header__heading">
            ice cream made with
            <span class="header__heading--accent">passion</span>
        </h1>

        <button class="btn__header--products btn" type="button">Products</button>
        <button class="btn__header--howmade btn" type="button">How it's made?</button>
    </div>

    <div class="header__circle"></div>
    <img src="./images/header/icecream.png" srcset=" ./images/header/icecream.png 171w,
    ./images/header/icecream@2x.png 342w,
    ./images/header/icecream@3x.png 513w" alt="Picture of iceacream" class="header__bg-img">


</header>