<div class="overlay-contacts hidden">
  <div class="modal-contacts">
    <button class="modal-contacts__button">
      <svg class="modal-contacts__close-icon menu-close" width="20" height="20">
        <use href="/src/images/icons.svg#icon-closed"></use>
      </svg>
    </button>

    <div style="width: 80%; height: -10%">
      <iframe
        width="100%"
        height="400"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ><a href="https://www.maps.ie/distance-area-calculator.html"
          >measure acres/hectares on map</a
        ></iframe
      >
    </div>
  </div>
</div>
