<div class="backdrop hidden" data-modal>
  <div class="modal">
    <button class="modal-x-button" data-modal-close>
      <svg class="modal-x-icon" width="25" height="25">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium sequi debitis veniam
      aspernatur quis sapiente harum dicta vitae ad, dolorum natus rem eius quas similique.
      Similique perspiciatis libero vitae veniam. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Est eum provident magnam ut, repellendus nisi quasi iusto excepturi similique, tempore
      consequuntur enim voluptatibus laudantium culpa? Libero doloribus praesentium cum nemo?
    </div>
  </div>
</div>
