<section class="products" id="about">
  <p class="products__label">100% Natural</p>
  <h2 class="products__title">Products</h2>
  <ul class="products__menu">
    <li class="products__menu-items products__menu-items--pink">
      <div class="products__container products__container--pink"></div>
      <div class="products__swipe"></div>
      <h4 class="products__name">Ice Cream</h4>
      <p class="products__menu-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button
        type="button"
        class="btn__arrow-right btn header__arrow btn__arrow-right--products modal-open"
      >
        <svg width="15" height="15">
          <use href="./images/icons.svg#icon-arrow-right2"></use>
        </svg>
      </button>
    </li>
    <li class="products__menu-items products__menu-items--beige">
      <div class="products__container products__container--beige"></div>
      <div class="products__swipe"></div>
      <h4 class="products__name">Ice Coffe</h4>
      <p class="products__menu-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button
        type="button"
        class="btn__arrow-right btn header__arrow btn__arrow-right--products modal-open"
      >
        <svg width="15" height="15">
          <use href="./images/icons.svg#icon-arrow-right2"></use>
        </svg>
      </button>
    </li>
    <li class="products__menu-items products__menu-items--green">
      <div class="products__container products__container--green"></div>
      <div class="products__swipe"></div>
      <h4 class="products__name">Milkshakes</h4>
      <p class="products__menu-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button
        type="button"
        class="btn__arrow-right btn header__arrow btn__arrow-right--products modal-open"
      >
        <svg width="15" height="15">
          <use href="./images/icons.svg#icon-arrow-right2"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
