<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container-reviews">
      <div class="container-reviews__img">
        <img src="/src/images/reviewer1.jpg" alt="uśmiechnięta dziewczyna z kręconymi włosami" />
      </div>
      <div class="container-reviews__text-block">
        <div class="container-reviews__linear-grad">
          <img class="container-reviews__quotes-img" src="/src/images/qutes.png" alt="qutes" />
          <p class="container-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>

      <div class="container-reviews__points-block">
        <div class="container-reviews__point"></div>
        <div class="container-reviews__point"></div>
        <div class="container-reviews__point"></div>
      </div>

      <div class="container-reviews__reviewier-data-block">
        <p class="container-reviews__reviewier-data">Emily, Los Angeles</p>
      </div>

      <ul class="container-reviews__navigation">
        <li class="container-reviews__nav-home">
          <svg class="container-reviews__icon-home" width="12" height="12">
            <use href="/src/images/icons.svg#icon-home-1"></use>
          </svg>
        </li>
        <li class="container-reviews__nav-sec-rev"></li>
        <li class="container-reviews__nav-third-rev"></li>
      </ul>
    </section>
  </body>
</html>
