<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="swiper reviews-slider" id="customer-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <section class="container-reviews">
            <div class="container-reviews__img">
              <img
                width="85"
                height="85"
                alt="uśmiechnięta dziewczyna z kręconymi włosami"
                src="images/reviewer1.jpg"
                srcset="images/reviewer1@2x.jpg 300w, images/reviewer1@3x.jpg 768w"
                sizes="(min-width: 1200px) 1062px, (min-width: 768px) 708px, 100vw"
                alt="uśmiechnięta dziewczyna z kręconymi włosami"
              />
            </div>
            <div class="container-reviews__text-block live-border">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="container-reviews__linear-grad">
                <p class="container-reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>

            <ul class="container-reviews__points-block">
              <li class="container-reviews__point"></li>
              <li class="container-reviews__point"></li>
              <li class="container-reviews__point"></li>
            </ul>

            <div class="container-reviews__reviewier-data-block">
              <p class="container-reviews__reviewier-data">Emily, Los Angeles</p>
            </div>
          </section>
        </div>

        <div class="swiper-slide">
          <section class="container-reviews">
            <div class="container-reviews__img">
              <img
                width="85"
                height="85"
                alt="uśmiechnięta dziewczyna z kręconymi włosami"
                src="images/reviewer2.jpg"
                srcset="images/reviewer2@2x.jpg 300w, images/reviewer2@3x.jpg 768w"
                sizes="(min-width: 1200px) 1062px, (min-width: 768px) 708px, 100vw"
                alt="uśmiechnięta dziewczyna z kręconymi włosami"
              />
            </div>
            <div class="container-reviews__text-block live-border">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="container-reviews__linear-grad">
                <p class="container-reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>

            <ul class="container-reviews__points-block">
              <li class="container-reviews__point"></li>
              <li class="container-reviews__point"></li>
              <li class="container-reviews__point"></li>
            </ul>

            <div class="container-reviews__reviewier-data-block">
              <p class="container-reviews__reviewier-data">Jane, London</p>
            </div>
          </section>
        </div>
        <div class="swiper-slide">
          <section class="container-reviews">
            <div class="container-reviews__img">
              <img
                width="85"
                height="85"
                alt="uśmiechnięta dziewczyna z kręconymi włosami"
                src="images/reviewer3.jpg"
                srcset="images/reviewer3@2x.jpg 300w, images/reviewer3@3x.jpg 768w"
                sizes="(min-width: 1200px) 1062px, (min-width: 768px) 708px, 100vw"
                alt="uśmiechnięta dziewczyna z kręconymi włosami"
              />
            </div>
            <div class="container-reviews__text-block live-border">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="container-reviews__linear-grad">
                <p class="container-reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>

            <ul class="container-reviews__points-block">
              <li class="container-reviews__point"></li>
              <li class="container-reviews__point"></li>
              <li class="container-reviews__point"></li>
            </ul>

            <div class="container-reviews__reviewier-data-block">
              <p class="container-reviews__reviewier-data">Mily, Tibet</p>
            </div>
          </section>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </body>
</html>
