<section class="products">
    <p class="products__label">100% Natural</p>
<h2 class="products__title">Natural Products</h2>
<ul class=" products__offer">
    <li class="products__menu products__menu--pink"><span class="product__span">Ice Cream</span>
        <p class="product__menu-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </li>
    <li class="products__menu--beige"><span class="product__span">Ice Coffe</span>
    <p class="product__menu-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p></li>
    <li class="products__menu--green"> <span class="product__span">Milkshakes</span>
    <p class="product__menu-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p></li>

</ul>
</section>