<div class="backdrop hidden">
  <div class="modal">
    <button class="modal__button-close">&times;</button>
    <form class="modal__form">
      <p class="modal__title">Lorem ipsum</p>
      <div role="group" aria-labelledby="username-head">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos est provident sunt neque
        eligendi illo nam aut. Officia mollitia velit aliquam adipisci saepe error modi vitae omnis,
        perferendis qui accusantium.
      </div>
      <img src="/src/images/products_img/modal_cow.png" width="400" height="350" />
    </form>
  </div>
</div>
