<div class="backdrop hidden">
  <div class="modal-products">
    <button class="modal-products__button-close">
      <svg class="modal-products__svg width="15" height="15">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-products__content">
      <h2 class="modal-products__title">Lorem ipsum</h2>
      <div role="group" aria-labelledby="username-head" class="modal-products__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos est provident sunt neque
        eligendi illo nam aut. Officia mollitia velit aliquam adipisci saepe error modi vitae omnis,
        perferendis qui accusantium.
      </div>
      <img
        class="about-box__picture"
        src="./images/about/mobile_about@x1.png"
        srcset="
          ./images/about/mobile_about@x2.png   560w,
          ./images/about/mobile_about@x3.png   840w,
          ./images/about/tablet_about@x1.png   340w,
          ./images/about/tablet_about@x2.png   680w,
          ./images/about/tablet_about@x3.png  1020w,
          ./images/about/desktop_about@x1.png  516w,
          ./images/about/desktop_about@x2.png 1032w,
          ./images/about/desktop_about@x3.png 1548w
        "
        alt="cows head, jar of milk and bio eco subtitle"
        sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px, 100vw"
        min-width="280"
      />
    </div>
  </div>
</div>
