.about-box {
  background-color: $sea-salt-sherbet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header1 {
    font-family: $ff-alt;
    font-size: $fs-h2-mob;
    font-weight: 400;
    color: $amelies-tutu;
    margin-bottom: 1.5rem;
    margin-top: 12.5rem;
    text-transform: uppercase;
  }
  &__header2 {
    font-family: $ff-alt;
    font-size: $fs-h3-mob;
    font-weight: 400;
    color: $blueberry-lemonade;
    margin-bottom: 2.6rem;
    text-transform: uppercase;
    max-width: 20rem;
    text-align: center;
  }
  &__picture {
    margin-bottom: 4.6rem;
  }
  &__p1 {
    font-family: $ff-base;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4.7rem;
    color: $black;
    padding: 0 5rem;
    text-align: left;
    line-height: 1.9rem;
  }
  &__p2 {
    font-family: $ff-base;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4.7rem;
    color: $gypsy-magic;
    padding: 0 5rem;
    text-align: left;
    line-height: 1.9rem;
  }
  &__btn {
    .btn__icon {
      stroke: 2px solid $blueberry-lemonade;
      fill: $blueberry-lemonade;
    }
  }
}
