.about-box {
  background-color: $sea-salt-sherbet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header1 {
    font-family: $ff-alt;
    font-size: $fs-h2-mob;
    letter-spacing: $ls;
    color: $amelies-tutu;
    margin-bottom: 15px;
    margin-top: 125px;
    text-transform: uppercase;
  }
  &__header2 {
    font-family: $ff-alt;
    font-size: $fs-h3-mob;
    color: $blueberry-lemonade;
    margin-bottom: 26px;
    text-transform: uppercase;
    max-width: 200px;
    text-align: center;
    letter-spacing: $ls;
  }
  &__background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/about/mobile_milk@x1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 93%;
  }

  &__container {
    max-width: 480px;
  }
  &__picture {
    margin-bottom: 46px;
    padding: 0 20px;
    display: block;
  }

  &__text {
    font-family: $ff-base;
    font-size: 1.2rem;
    font-weight: 500;
    color: $black;
    line-height: 19px;
    padding: 0 50px;
    text-align: left;

    &__p1 {
      margin-bottom: 47px;
      max-height: 79px;
    }

    &__p2 {
      margin-bottom: 10px;
      color: $gypsy-magic;
      & span {
        letter-spacing: 0.03em;
      }
    }

    &__p3 {
      margin-bottom: 17px;
      color: $gypsy-magic;
    }

    &__btn {
      font-family: $ff-base;
      font-weight: 700;
      font-size: $fs-base;
      line-height: 21px;
      width: 176px;
      height: 44px;
      background: $white;
      color: $blueberry-lemonade;
      border: none;
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

      &:hover,
      &:focus {
        background-color: #ecebeb;
        cursor: pointer;
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }

      &__icon {
        margin-left: 13px;
        fill: none;
        stroke: $blueberry-lemonade;
        font-size: 1.2rem;
        font-weight: $fw;
      }
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about-box__background {
    background-image: url(../images/about/mobile_milk@x2.png);
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .about-box__background {
    background-image: url(../images/about/mobile_milk@x3.png);
  }
}
@media (min-width: 768px) {
  .about-box {
    &__header1 {
      margin-top: 130px;
      font-size: $fs-h2-tab;
    }
    &__header2 {
      font-size: $fs-h3-tab;
      margin-bottom: 50px;
      max-width: none;
    }
    &__background {
      background-image: none;
    }

    &__container {
      max-width: 768px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 17px;
    }
    &__text {
      font-size: 1.4rem;
      line-height: 25px;
      margin-top: 50px;
      margin-bottom: 0;
      padding: 0;
      max-width: 340px;
      &__p1 {
        margin-bottom: 49px;
      }
      &__p2 {
        letter-spacing: $ls;
      }
      &__p3 {
        letter-spacing: $ls;
      }
      &__btn {
        margin-top: 62px;
        font-size: 16px;
      }
    }
    &__picture {
      padding: 0;
      margin-left: 39px;
      margin-bottom: 100px;
    }
  }
}

@media (min-width: 1200px) {
  .about-box {
    &__header1 {
      margin-top: 125px;
      font-size: $fs-h2-desk;
    }
    &__header2 {
      font-size: $fs-h3-desk;
      margin-bottom: 55px;
      max-width: 534px;
    }
    &__background {
      background-image: url(../images/about/desktop_milk@x1.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__container {
      gap: 74px;
    }
    &__text {
      font-size: 1.4rem;
      line-height: 28px;
      min-width: 463px;
      margin-top: 51px;
      letter-spacing: $ls;
      &__p1 {
        margin-bottom: 35px;
        font-size: 16px;
      }
      &__p2 {
        line-height: 27px;
        margin-bottom: 35px;
      }
      &__p3 {
        margin-bottom: 0;
      }
      &__btn {
        margin-top: 45px;
        margin-bottom: 107px;
      }
    }
    &__picture {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about-box__background {
    background-image: url(../images/about/desktop_milk@x2.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 288dpi),
  screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .about-box__background {
    background-image: url(../images/about/desktop_milk@x3.png);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
