.advantages {
  background-color: $sea-salt-sherbet;
  display: flex;
  align-items: center;
  justify-content: left;

  &__main {
    padding-top: 39px;
    padding-bottom: 97px;
    margin-left: 10%;
  }

  &__item {
    font-family: $ff-alt;
    color: $blueberry-lemonade;
    width: calc(100% - 40px);
    padding-bottom: 38px;
    max-width: 230px;
  }

  &__label {
    display: flex;
    margin-top: 16px;
    line-height: 1.145;
    margin-bottom: 15px;
    font-size: 3.6rem;
    font-family: $ff-alt;
    color: $blueberry-lemonade;
  }

  &__description {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: $ff-base;
    color: $black;
    line-height: 1.7;
  }

  &__container {
    display: flex;
    width: 33px;
    height: 60px;
    &--milk {
      &::before {
        content: '';
        position: absolute;
        background: url('/src/images/_advantages/icon1.png') no-repeat center center/cover;
        width: 33px;
        height: 50px;
      }
    }
    &--fruit {
      &::before {
        content: '';
        position: absolute;
        background: url('/src/images/_advantages/icon2.png') no-repeat center center/cover;
        width: 55px;
        height: 55px;
      }
    }
    &--ice {
      &::before {
        content: '';
        position: absolute;
        background: url('/src/images/_advantages/icon3.png') no-repeat center center/cover;
        width: 44px;
        height: 50px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    justify-content: center;

    &__main {
      max-width: 768px;
      display: flex;
      flex-direction: row;
      column-gap: 60px;
      padding-top: 66px;
      margin-left: 5%;
    }

    &__item {
      font-family: $ff-alt;
      color: $blueberry-lemonade;
      margin-bottom: 140px;
      padding: 0;
      max-width: 230px;
    }

    &__label {
      margin-top: 36px;
      margin-bottom: 13px;
      font-size: 4.8rem;
    }

    &__description {
      font-size: 1.4rem;
      width: calc(100% - 40px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    &__main {
      max-width: 1280px;
      padding-bottom: 139px;
      padding-top: 39px;
      margin-left: 0px;
    }

    &__item {
      min-width: 330px;
    }

    &__label {
      margin-top: 40px;
      margin-bottom: 15px;
      font-size: 5.6rem;
    }

    &__description {
      font-size: 1.6rem;
    }
  }
}
