// Mobile

.btn {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  &__buy-now {
    width: 160px;
    height: 44px;
    background: $white;
    border-radius: 22px;
    color: $blueberry-lemonade;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;

    &:hover {
      background-color: $hover-background;
    }
  }

  &__menu {
    width: 209px;
    height: 44px;
    background: $white;
    border-radius: 22px;
    color: $blueberry-lemonade;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $hover-background;
    }
  }

  &__header {
    height: 24px;
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --products {
      width: 61.2px;
      background: $blueberry-lemonade;
      border-radius: 20px;
      color: $white;

      &:hover {
        background-color: $hover-red;
      }
    }
    --howmade {
      border-radius: 20px;
      width: 82, 8px;
      background: $white;
      color: $blueberry-lemonade;

      &:hover {
        background-color: $hover-background;
      }
    }
  }

  &__arrow-right {
    border-radius: 50%;
    background-color: $white;
    fill: $blueberry-lemonade;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__read-more {
    width: 176px;
    height: 44px;
    font-size: 14px;
    line-height: 18px;
    background: $white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $hover-background;
    }
  }

  &__contact {
    width: 161px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --red {
      background-color: $blueberry-lemonade;
      color: $white;

      &:hover {
        background-color: $hover-background-red;
      }
    }

    --white {
      background-color: $white;
      color: $blueberry-lemonade;

      &:hover {
        background-color: $hover-background;
      }
    }
  }
}

&__social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $white;
  background-color: $social-icon-pink;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $blueberry-lemonade;
  }
}
