.btn {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.3125;
  border: none;

  &__buy-now {
    padding-inline: 44px;
    background: $white;
    border-radius: 22px;
    color: $blueberry-lemonade;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;

    &:hover {
      background-color: $hover-background;
    }
  }

  &__menu {
    width: 209px;
    height: 44px;
    background: $white;
    border-radius: 22px;
    color: $blueberry-lemonade;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $hover-background;
    }
  }

  &__header {
    font-size: 8px;
    line-height: 1.25;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--products {
      padding: 8px 15px;
      background: $blueberry-lemonade;
      border-radius: 20px;
      color: $white;

      &:hover {
        background-color: $hover-red;
      }
    }
    &--howmade {
      border-radius: 20px;
      line-height: 1.25;
      padding: 8px 15px;
      background: $white;
      color: $blueberry-lemonade;

      margin-left: 8px;

      &:hover {
        background-color: $hover-background;
      }
    }
  }

  &__arrow-right {
    border-radius: 50%;
    background-color: $white;
    fill: $blueberry-lemonade;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__read-more {
    width: 176px;
    height: 44px;
    font-size: 14px;
    line-height: 18px;
    background: $white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $hover-background;
    }
  }

  &__contact {
    width: 161px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;

    &--red {
      background-color: $blueberry-lemonade;
      color: $white;

      &:hover {
        background-color: $hover-background-red;
      }
    }

    &--white {
      background-color: $white;
      color: $blueberry-lemonade;

      &:hover {
        background-color: $hover-background;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $white;
    background-color: $social-icon-pink;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $blueberry-lemonade;
    }
  }
}
