//mobile
.container-reviews {
  max-width: 320px;
  margin: 0 auto;
  height: 100%;

  &__img {
    display: flex;
    justify-content: center;
  }

  &__text-block {
    position: relative;
    background-color: #fafafa;
    margin: 0 20px;
    margin-top: 29px;
  }

  &__linear-grad {
    margin: 0 auto;
    width: 180px;
    background: linear-gradient(
      180deg,
      #fafafa 7rem,
      #e1e1e1 7rem,
      #fafafa 7.2rem,
      #fafafa 7.2rem,
      #fafafa 10.3rem,
      #e1e1e1 10.3rem,
      #fafafa 10.5rem,
      #fafafa 10.5rem,
      #fafafa 16.3rem,
      #e1e1e1 16.3rem,
      #fafafa 16.5rem,
      #fafafa 16.5rem,
      #fafafa 19.3rem,
      #e1e1e1 19.3rem,
      #fafafa 19.5rem,
      #fafafa 19.5rem,
      #fafafa 22.5rem,
      #e1e1e1 22.5rem,
      #fafafa 22.7rem,
      #fafafa 22.7rem,
      #fafafa 25.7rem,
      #e1e1e1 25.7rem,
      #fafafa 25.9rem,
      #fafafa 25.9rem,
      #fafafa 29.5rem,
      #e1e1e1 29.5rem,
      #fafafa 29.7rem,
      #fafafa 29.7rem,
      #fafafa 32.5rem,
      #e1e1e1 32.5rem,
      #fafafa 32.7rem,
      #fafafa 32.7rem,
      #fafafa 33.5rem,
      #e1e1e1 33.5rem,
      #fafafa 33.7rem,
      #fafafa 33.7rem
    );
  }

  &__text {
    @include font-properties($ff-base, 500, 12px, 255%, 0.01em);
    width: 157px;
    height: auto;
    padding-top: 47px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  &__text::before {
    width: 54px;
    height: 40px;
    display: flex;
    left: 65px;
    top: 33px;
    position: absolute;
    content: '';
    background-image: url('/src/images/qutes.png');
    opacity: 0.5;
  }

  &__points-block {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }

  &__point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $blueberry-lemonade;
  }

  &__reviewier-data-block {
    padding-bottom: 60px;
    margin-top: 18px;
    text-align: center;
  }

  &__reviewier-data {
    @include font-properties($ff-base, 500, $fs-base, 186%, 0.01em);
  }

  .live-border {
    position: relative;
    width: 280px;
    height: auto;
    overflow: hidden;
  }

  .live-border span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, $blueberry-lemonade);
    animation: animate_one 3.5s linear infinite;
    transition-delay: 1s;
  }

  @keyframes animate_one {
    0% {
      transform: translateX(-100%);
    }
    110% {
      transform: translateX(100%);
    }
  }

  .live-border span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, $blueberry-lemonade);
    animation: animate_two 3s linear infinite;
  }

  @keyframes animate_two {
    0% {
      transform: translateY(-100%);
    }
    110% {
      transform: translateY(100%);
    }
  }

  .live-border span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, $blueberry-lemonade);
    animation: animate_three 3.5s linear infinite;
    transition-delay: 1s;
  }

  @keyframes animate_three {
    0% {
      transform: translateX(100%);
    }
    110% {
      transform: translateX(-100%);
    }
  }

  .live-border span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, $blueberry-lemonade);
    animation: animate_four 3s linear infinite;
  }

  @keyframes animate_four {
    0% {
      transform: translateY(100%);
    }
    110% {
      transform: translateY(-100%);
    }
  }

  .card img {
    padding: 5px;
    width: 400px;
    height: 398px;
  }
}

//tablet
@media screen and (min-width: 768px) {
  .container-reviews {
    max-width: 768px;
    margin: 0 auto;

    &__text-block {
      width: 620px;
      margin-top: 19px;
      margin-left: 74px;
      margin-right: 74px;
    }

    &__linear-grad {
      width: 580px;
      height: auto;
      background: linear-gradient(
        180deg,
        #fafafa 7.7rem,
        #e1e1e1 7.7rem,
        #fafafa 7.9rem,
        #fafafa 7.9rem,
        #fafafa 11.5rem,
        #e1e1e1 11.5rem,
        #fafafa 11.7rem,
        #fafafa 11.7rem,
        #fafafa 14.7rem,
        #e1e1e1 14.7rem,
        #fafafa 14.9rem,
        #fafafa 14.9rem
      );
    }

    &__text {
      padding-top: 47px;
      padding-bottom: 34px;
      width: 95%;
      @include font-properties($ff-base, 500, $fs-alt, 216%, 0.04em);
    }

    &__text::before {
      left: 7px;
      top: 33px;
    }

    &__reviewier-data {
      @include font-properties($ff-base, 500, $fs-base, 186%, 0.01em);
    }

    .live-border {
      width: 620px;
    }
  }
}

//Desktop
@media screen and (min-width: 1280px) {
  .container-reviews {
    max-width: 1280px;

    &__linear-grad {
      width: 850px;
      background: linear-gradient(
        180deg,
        #fafafa 7.7rem,
        #e1e1e1 7.7rem,
        #fafafa 7.9rem,
        #fafafa 7.9rem,
        #fafafa 10.5rem,
        #e1e1e1 10.5rem,
        #fafafa 10.7rem,
        #fafafa 10.7rem
      );
    }

    &__text-block {
      width: 926px;
      margin-top: 19px;
      margin-left: 174px;
      margin-right: 174px;
    }

    &__text {
      padding-top: 47px;
      max-width: 90%;
      @include font-properties($ff-base, 500, $fs-alt, 186%, 0.04em);
    }

    &__text::before {
      left: 49px;
      top: 33px;
    }

    &__reviewier-data {
      @include font-properties($ff-base, 500, $fs-base, 186%, 0.01em);
    }

    &__navigation {
      margin-top: 35px;
    }

    .live-border {
      width: 926px;
    }
  }
}
