//mobile
.container-reviews {
  max-width: 320px;
  margin: 0 auto;
  height: 100%;

  &__img {
    display: flex;
    justify-content: center;
  }

  &__text-block {
    position: relative;
    background-color: #fafafa;
    margin: 0 20px;
    margin-top: 29px;
  }

  &__linear-grad {
    margin: 0 auto;
    width: 180px;
    background: linear-gradient(
      180deg,
      #fafafa 8rem,
      #e1e1e1 8rem,
      #fafafa 8.2rem,
      #fafafa 8.2rem,
      #fafafa 11.3rem,
      #e1e1e1 11.3rem,
      #fafafa 11.5rem,
      #fafafa 11.5rem,
      #fafafa 15.3rem,
      #e1e1e1 15.3rem,
      #fafafa 15.5rem,
      #fafafa 15.5rem,
      #fafafa 18.7rem,
      #e1e1e1 18.7rem,
      #fafafa 18.9rem,
      #fafafa 18.9rem,
      #fafafa 22.5rem,
      #e1e1e1 22.5rem,
      #fafafa 22.7rem,
      #fafafa 22.7rem,
      #fafafa 25.7rem,
      #e1e1e1 25.7rem,
      #fafafa 25.9rem,
      #fafafa 25.9rem,
      #fafafa 29.5rem,
      #e1e1e1 29.5rem,
      #fafafa 29.7rem,
      #fafafa 29.7rem,
      #fafafa 32.5rem,
      #e1e1e1 32.5rem,
      #fafafa 32.7rem,
      #fafafa 32.7rem
    );
  }

  &__text {
    @include font-properties($ff-base, 500, $fs-base, 255%, 0.01em);
    width: 157px;
    padding-top: 47px;
    margin: 0 auto;
    text-align: center;
  }

  &__text::before {
    width: 54px;
    height: 40px;
    display: flex;
    left: 65px;
    top: 33px;
    position: absolute;
    content: '';
    background-image: url('/src/images/qutes.png');
    opacity: 0.5;
  }

  &__points-block {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }

  &__point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $blueberry-lemonade;
  }

  &__reviewier-data-block {
    padding-bottom: 30px;
    margin-top: 18px;
    text-align: center;
  }

  &__reviewier-data {
    @include font-properties($ff-base, 500, $fs-base, 186%, 0.01em);
  }
}

//tablet
@media screen and (min-width: 768px) {
  .container-reviews {
    max-width: 768px;
    margin: 0 auto;

    &__text-block {
      width: 620px;
      margin-top: 19px;
      margin-left: 74px;
      margin-right: 74px;
    }

    &__linear-grad {
      width: 580px;
      height: auto;
      background: linear-gradient(
        180deg,
        #fafafa 7.7rem,
        #e1e1e1 7.7rem,
        #fafafa 7.9rem,
        #fafafa 7.9rem,
        #fafafa 11.5rem,
        #e1e1e1 11.5rem,
        #fafafa 11.7rem,
        #fafafa 11.7rem,
        #fafafa 14.7rem,
        #e1e1e1 14.7rem,
        #fafafa 14.9rem,
        #fafafa 14.9rem
      );
    }

    &__text {
      padding-top: 47px;
      padding-bottom: 34px;
      width: 95%;
      @include font-properties($ff-base, 500, $fs-alt, 216%, 0.04em);
    }

    &__text::before {
      left: 7px;
      top: 33px;
    }

    &__reviewier-data {
      @include font-properties($ff-base, 500, $fs-alt, 186%, 0.01em);
    }
  }
}

//Desktop
@media screen and (min-width: 1280px) {
  .container-reviews {
    max-width: 1280px;

    &__linear-grad {
      width: 926px;
      background: linear-gradient(
        180deg,
        #fafafa 7.7rem,
        #e1e1e1 7.7rem,
        #fafafa 7.9rem,
        #fafafa 7.9rem,
        #fafafa 10.5rem,
        #e1e1e1 10.5rem,
        #fafafa 10.7rem,
        #fafafa 10.7rem
      );
    }

    &__text-block {
      width: 926px;
      margin-top: 19px;
      margin-left: 174px;
      margin-right: 174px;
    }

    &__text {
      padding-top: 47px;
      padding-bottom: 39px;
      width: 90%;
      @include font-properties($ff-base, 500, $fs-alt, 186%, 0.04em);
    }

    &__text::before {
      left: 7px;
      top: 33px;
    }

    &__reviewier-data {
      @include font-properties($ff-base, 500, $fs-alt, 186%, 0.01em);
    }

    &__navigation {
      margin-top: 35px;
    }
  }
}
