.footer {
  padding: 0px 20px;
  background-color: $sea-salt-sherbet;
  font-family: Titan One, sans-serif;
  font-size: $fs-alt;

  flex-wrap: wrap;
  justify-content: center;
  display: grid;

  &__left-side {
    text-align: left;
    text-transform: uppercase;
  }

  &__paragraf {
    width: 234px;
    height: 42px;
    color: $amelies-tutu;
    margin: 0px;
    font-size: $fs-h2-mob;
    margin-bottom: 17px;
  }

  &__head {
    width: 200px;
    font-size: $fs-h3-mob;
    color: $blueberry-lemonade;
    margin: 0px;
  }

  &__right-side {
    margin-top: 43px;
  }

  &__phone {
    font-size: $fs-base;
    margin: 0px;
    margin-top: 46px;
    text-align: right;
    width: 230px;
  }

  &__phone-link {
    color: $blueberry-lemonade;
    text-decoration: none;
  }
}

.social-list {
  list-style: none;
  display: flex;
  width: 150px;
  gap: 28px;

  &__icon {
    cursor: pointer;
    fill: $white;
    padding: 6.5px;
    background-color: $amelies-tutu;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding: 0px 36px;

    &__left-side {
      margin-right: 92px;
    }

    &__head {
      font-size: $fs-h3-tab;
    }

    &__right-side {
      margin-top: 0px;
    }

    &__paragraf {
      font-size: $fs-h2-tab;
    }
  }
  .social-list {
    justify-content: right;
    width: auto;
  }
}
