.footer {
  font-weight: 400;
  background-color: $sea-salt-sherbet;
  font-family: Titan One, sans-serif;
  font-size: $fs-alt;

  &__left-side {
    text-align: left;

    text-transform: uppercase;
  }

  &__paragraf {
    width: 234px;
    height: 42px;
    color: $amelies-tutu;
    margin: 0px;
    font-size: 18px;
    margin-bottom: 17px;
  }

  &__head {
    width: 200px;
    height: 76px;
    color: $blueberry-lemonade;
    margin: 0px;
  }

  &__right-side {
    margin-top: 43px;
  }

  &__phone {
    font-size: 13px;
    font-weight: 700;
    margin: 0px;
    margin-top: 46px;
    text-align: right;
    width: 230px;
  }

  &__phone-link {
    color: $blueberry-lemonade;
    text-decoration: none;
  }
}
.social-list {
  list-style: none;
  display: flex;
  width: 150px;
  gap: 28px;

  &__link {
  }

  &__icon {
    cursor: pointer;
    fill: $white;
    padding: 6.5px;
    background-color: $amelies-tutu;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}
