.header {
  background-color: $rosie;
  padding-inline: 20px;
  z-index: 0;
  overflow: hidden;

  position: relative;
  &__nav-bar {
    display: flex;
    align-items: center;
    padding-top: 6px;

    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: $bounceSoft;
  }
  &__nav-item {
    padding-bottom: 4px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $blueberry-lemonade;
      border-radius: 50px;
      height: 4px;
      width: 100%;
      transform-origin: left center;
      transform: scale(0);
      transition: transform 0.5s ease;
    }

    &:hover::before {
      transform-origin: center right;
      transform: scale(1);
    }
  }
  &__logo {
    max-width: 199px;
  }
  &__hamburger {
    margin-left: auto;
    border: none;
    background-color: transparent;
    fill: $blueberry-lemonade;
  }
  &__btn {
    display: none;
  }
  &__nav-desktop {
    display: none;
  }
  &__slogan {
    padding-block: 137px 160px;

    animation-name: slideRight;
    animation-delay: 100ms;
    animation-duration: 1s;
    animation-timing-function: $bounceSoft;
  }
  &__heading {
    font-family: $ff-alt;
    font-size: 2.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white;

    max-width: 218px;
    margin-bottom: 19px;
    z-index: 3;
    &--accent {
      font-family: $ff-alt;
      font-weight: 400;
      font-size: 4.8rem;
      line-height: 0.965;

      text-transform: uppercase;

      color: $blueberry-lemonade;
    }
  }

  &__bg-img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 10vw;
    transform: translateY(0);

    animation-name: slideUp;
    animation-delay: 500ms;
    animation-duration: 1s;
    animation-timing-function: $bounceHard;
  }
  &__circle {
    position: absolute;
    right: calc(10vw - 92px);
    bottom: 75px;
    z-index: -1;

    width: 344px;
    height: 344px;
    border-radius: 50%;

    background-color: $amelies-tutu;

    animation-name: slideDown;
    animation-delay: 500ms;
    animation-duration: 1s;
    animation-timing-function: $bounceHard;
  }
  &__slider {
    display: none;
    animation-name: slideRight;
    animation-delay: 250ms;
    animation-duration: 1s;
    animation-timing-function: $bounceSoft;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    font-size: 0.8rem;
    line-height: 140%;
    color: $white;

    max-width: 114px;
  }
  &__arrow {
    padding: 5px;
    margin-top: 7px;
  }
  &__grid-right {
    display: none;
  }
  &__numbers,
  &__info {
    animation-name: slideLeft;
    animation-delay: 100ms;
    animation-duration: 1s;
    animation-timing-function: $bounceSoft;
  }
  &__bg-tasty {
    animation-name: slideLeft;
    animation-delay: 250ms;
    animation-duration: 1s;
    animation-timing-function: $bounceSoft;
  }
}

@media (min-width: 768px) {
  .header {
    padding-inline: 34px;
    &__grid {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
    }
    &__grid-center {
      position: relative;
    }
    &__grid-right {
      display: block;
      position: relative;
      text-align: right;
    }
    &__bg-img {
      bottom: 0;
      left: 0;
    }
    &__circle {
      width: 324px;
      height: 324px;

      bottom: 46px;
      left: -68px;
    }
    &__numbers {
      font-family: $ff-alt;
      font-style: normal;
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 1.142;

      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #d41443;
      margin-top: 12px;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background-color: $white;

        position: absolute;
        top: 0;
        right: -10px;
        z-index: -1;
      }
    }
    &__info {
      font-size: 0.8rem;
      line-height: 1.25;
      text-align: right;

      color: #ffffff;
    }
    &__bg-tasty {
      position: absolute;
      bottom: 0;
    }
    &__nav-bar {
      padding-top: 37px;
    }
    &__slogan {
      padding-block: 15px 28px;
    }
    &__heading {
      max-width: 162px;
      font-size: 2.2rem;
      line-height: 1.145;
      &--accent {
        font-size: 3.4rem;
        line-height: 0.905;
      }
    }
    &__btn {
      display: flex !important;
      align-items: center;
      padding: 12px 36px;
      margin-left: 30px;
      border-radius: 22px !important;
      &-icon {
        fill: $blueberry-lemonade;
        // stroke: none;
        margin-left: 12px;
      }
    }
    &__btn.btn {
      font-size: 1.6rem;
    }
    &__slider {
      display: flex;
      align-items: flex-end;
      margin-top: 19px;
    }
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 0;
    &__nav-bar {
      padding-inline: 47px 115px;
    }
    &__grid {
      padding-inline: 115px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__hamburger {
      display: none;
    }
    &__nav-desktop {
      display: flex;
      align-items: center;
      gap: 35px;

      margin-left: 110px;
    }
    &__nav-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      transition: color 250ms ease-in-out;

      color: $white;
      & a {
        color: inherit;
        &:focus {
          color: $blueberry-lemonade;
        }
      }
      &:hover {
        color: $blueberry-lemonade;
      }
    }
    &__slogan {
      padding-top: 84px;
      padding-bottom: 0;

      position: relative;
    }
    &__heading {
      // padding-left: 69px;
      max-width: 277px;
      font-size: 3.8rem;
      line-height: 1.145;
      &--accent {
        font-size: 5.8rem;
        line-height: 0.905;
      }
    }
    &__slider {
      gap: 30px;
      padding-block: 102px 56px;
      margin-top: 10px;
      justify-content: flex-end;
    }
    &__arrow {
      padding: 9px;
    }
    &__slider-img {
      position: absolute;
      bottom: 41px;
      left: -38px;
    }
    &__text {
      font-size: 1.4rem;
      max-width: 200px;
    }
    &__bg-img {
      bottom: 0;
      left: 20%;
    }
    &__circle {
      width: 538px;
      height: 538px;
      left: 0;
    }
    &__btn {
      margin-left: auto;
    }
    &__grid-right {
      padding-top: 74px;
    }
    &__numbers {
      font-size: 4.6rem;
      &::after {
        width: 30px;
        height: 30px;
      }
    }
    &__bg-tasty {
      right: 0;
    }
  }
  .btn.btn__header {
    font-size: 1.4rem;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
