.header {
  background-color: $rosie;
  padding-inline: 20px;
  z-index: -10;
  overflow-x: hidden;

  position: relative;
  &__mobile-menu {
    display: flex;
    padding-top: 0.6rem;
  }
  &__logo {
    max-width: 199px;
  }
  &__hamburger {
    margin-left: auto;
    border: none;
    background-color: transparent;
    fill: $blueberry-lemonade;
  }
  &__slogan {
    padding-block: 13.7rem 16rem;
  }
  &__heading {
    font-family: $ff-alt;
    font-size: 2.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white;

    max-width: 21.8rem;
    margin-bottom: 1.9rem;
  }
  &__heading--accent {
    font-family: $ff-alt;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 0.965;

    text-transform: uppercase;

    color: $blueberry-lemonade;
  }

  &__bg-img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 10vw;
    max-width: 171px;
  }
  &__circle {
    position: absolute;
    right: 10vw;
    bottom: 75px;
    z-index: -2;
    transform: translateX(30%);

    width: 344px;
    height: 344px;
    border-radius: 50%;

    background-color: $amelies-tutu;
  }
}
