.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}
.backdrop {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}

.modal {
<<<<<<< Updated upstream
  width: calc(100vw - 3.9rem);
  max-width: 500px;
  height: 400px;
=======
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  max-width: 480px;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
  background: $impatient-pink;
=======
  background: $rosie;
>>>>>>> Stashed changes
  background-image: url(../images/about/mobile_milk@x1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-blend-mode: soft-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: right;
  overflow: scroll;
  transform: scale(1);
  opacity: 1;
  visibility: 1;
  pointer-events: initial;
  transition: transform 500ms ease;
  transform: scale(1);
  overflow: scroll;

  &__text {
    margin: 40px;
    padding: 0 20px;
    color: $white;
    font-family: $ff-base;
    font-size: 1.2rem;
    font-weight: 500;
<<<<<<< Updated upstream
    line-height: 25px;
=======
    line-height: 15px;
>>>>>>> Stashed changes
    text-align: center;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    overflow: hidden;
  }
  .modal-x-button {
=======
  }
  .modal-x-button {
    position: absolute;
    top: 15px;
    right: 15px;
>>>>>>> Stashed changes
    border: none;
    border-radius: 50%;
    background: $impatient-pink;
    padding: 0;
  
    cursor: pointer;
    .modal-x-icon {
      fill: $white;
      stroke: $white;
      padding: 3px 3px 4px 4px;
      margin: 6px;
      display: block;
    }
  }
}
@media  (min-width: 768px) {
=======
  }
    .modal-x-button {
      position: absolute;
      top: 15px;
      right: 15px;
      line-height: 3;
      border: none;
      border-radius: 50%;
      background: transparent;
      padding: 0;

      cursor: pointer;

      .modal-x-icon {
        fill: $white;
        stroke: $white;
        padding: 3px 3px 4px 4px;
        margin: 6px;
        display: block;
      }
    }
  }


@media (min-width: 768px) {
>>>>>>> Stashed changes
  .modal {
<<<<<<< Updated upstream
    max-width: 600px;
=======
    height: 40%;
    width: 70%;
    max-width: none;
>>>>>>> Stashed changes
    &__text {
    margin-top: 60px;
  }
}
}
@media  (min-width: 1280px) {
  .modal {
    max-width: 750px;

    &__text {
    margin-top: 60px;
  }
}
<<<<<<< Updated upstream
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
=======

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
>>>>>>> Stashed changes
  .modal {
    background-image: url(../images/about/mobile_milk@x2.png);
  }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
  .modal {
    background-image: url(../images/about/mobile_milk@x3.png);
  }
}