.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}
.backdrop {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}
.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  background: $impatient-pink;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50% 20%;
  text-align: right;
  transform: scale(1);
  opacity: 1;
  visibility: 1;
  pointer-events: initial;
  transition: transform 500ms ease;
  transform: scale(1);
  &__text {
    margin: 4rem;
    color: $white;
    font-family: $ff-base;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-align: center;
    line-height: 3;
  }
  .modal-x-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    margin-top: 18px;
    margin-right: 18px;
    cursor: pointer;
    .modal-x-icon {
      fill: $white;
      stroke: $white;
      padding: 3px 3px 4px 4px;
      margin: 6px;
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    height: 40%;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 50%;
  }
}
