.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  .modal {
    width: calc(100vw - 30px);
    height: 609px;
    background: $rosie;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: right;
    transform: scale(1);
    opacity: 1;
    visibility: 1;
    pointer-events: initial;
    transition: transform 500ms ease;
    transform: scale(1);
    .modal-x-button {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background: $white;
      padding: 0;
      margin-top: 8px;
      margin-right: 8px;
      cursor: pointer;
      .modal-x-icon {
        fill: #000;
        padding: 3px 3px 4px 4px;
        margin: 6px;
        display: block;
      }
    }
  }
}
