.presentation {
  background-color: $rosie;
  max-width: 480px;
  padding-bottom: 50px;
  // max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  &__head {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__group-name {
    font-family: $ff-alt;
    font-size: 5rem;
    font-weight: 400;
    color: $blueberry-lemonade;
    letter-spacing: 2;
    text-transform: uppercase;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    flex-direction: column;
  }
  &__title {
    display: flex;
    flex-direction: column;
    // width: calc(100% - 80px);
    font-family: $ff-alt;
    font-size: 3rem;
    color: $blueberry-lemonade;
    letter-spacing: 2;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    &--span {
      font-family: $ff-alt;
      font-style: 5, 8rem;
      color: $white;
      letter-spacing: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }

  &__button {
    font-family: $ff-base;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width: calc(100% - 100px);
    font-weight: 700;
    height: 80px;
    padding: 10px;
    background: $white;
    border-radius: 50px;
    color: $blueberry-lemonade;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      background-color: $hover-background;
    }
  }

  &__previous-site {
    position: relative;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: $white;
    cursor: pointer;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      background-color: $hover-background-red;
      width: 100%;
      z-index: 2;
      border-radius: 20px;
      transform: translateX(-100%);
      transform-origin: center left;
      transition: transform 0.5s ease;
    }

    &:hover::before {
      transform: translateX(0%);
    }
  }

  &__link {
    font-family: $ff-base;
    font-weight: 700;
    color: $hover-background-red;
  }

  &__team {
    width: calc(100% - 10px);
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    row-gap: 25px;
    column-gap: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__team-members {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    // width: calc(100% - 20px);
  }

  &__team-members-name {
    width: calc(100% - 20px);
    text-align: center;
    margin-top: 30px;
    margin: 30px auto -30px auto;
    font-family: $ff-alt;
    font-size: 3rem;
    font-weight: 400;
    color: $blueberry-lemonade;
    letter-spacing: 2;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 30px;

    // &:before{
    //     content: "";
    //     position: absolute;
    //     background: url("/src/images/presentation_img/juli_works_trello.png") no-repeat center center/cover;
    //     width:150px;
    //     height: 300px;
    //     border-radius: 10px;
    //     transform: rotate(-30deg);
    //     left:730px;
    //     top: 380px;

    // }
  }
  &__team-members-surname {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: $ff-alt;
    font-size: 2rem;
    font-weight: 200;
    color: $white;
    letter-spacing: 2;
    text-transform: uppercase;
    width: calc(100% - 20px);
  }

  &__member-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__team {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    row-gap: 25px;
    column-gap: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &__team-members {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    // width: calc(100% - 20px);
  }

  &__team-members-name {
    margin-top: 30px;
    font-family: $ff-alt;
    font-size: 4rem;
    font-weight: 400;
    color: $blueberry-lemonade;
    letter-spacing: 2;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   background: url('/src/images/presentation_img/juli_works_trello.png') no-repeat center
    //     center/cover;
    //   width: 150px;
    //   height: 300px;
    //   border-radius: 10px;
    //   transform: rotate(-30deg);
    //   left: 730px;
    //   top: 380px;
    // }
  }
  &__member-description {
    display: flex;
    flex-direction: column;
  }

  &__member-data {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__member-img {
    margin-bottom: 20px;
    object-fit: cover;
    // margin-top: 50px;
  }

  &__member-img {
    margin-bottom: 50px;
    // margin-top: 30px;
    width: 300px;
    height: 450px;
    border-radius: 15px;
  }

  &__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // &__member-item {
  //   margin-left: 20px;
  // }

  &__member-role {
    font-family: $ff-alt;
    font-size: 2rem;
    font-weight: 400;
    color: $blueberry-lemonade;
    letter-spacing: 2;
    // margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__member-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // max-height: 1000px;
    column-gap: 20px;
    width: calc(100% - 60px);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // margin-top: 30px;
  }

  &__member-duties {
    font-family: $ff-alt;
    font-size: 1.5rem;
    color: $white;
    letter-spacing: 2;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  &__member-list {
    align-items: center;
    justify-content: center;
    margin-right: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    line-height: 2;

    &--about {
      font-size: 12px;
      // background-color:blue;
    }
  }

  &__member-list-border {
    border-right: 0.5px solid black;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 13px;
  }

  &__member-about {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 60px);

    // &:after{
    //         content: "";
    //         position: absolute;
    //         background: url("/src/images/presentation_img/juli_works.png") no-repeat center center/cover;
    //         width:150px;
    //         height: 300px;
    //         border-radius: 10px;
    //         transform: rotate(30deg);
    //         top: 350px;
    //         right: -20px;
    // }
  }

  &__problems-description {
    background-color: $rosie;
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    column-gap: 50px;
    row-gap: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  &__problems {
    width: calc(100% - 50px);
    text-align: center;
    margin-top: 30px;
    margin: 30px auto -30px auto;
    font-family: $ff-alt;
    font-size: 3rem;
    font-weight: 400;
    color: $blueberry-lemonade;
    letter-spacing: 2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }

  &__problems-solve {
    font-family: $ff-alt;
    font-size: 2rem;
    font-weight: 200;
    color: $white;
    letter-spacing: 2;
    text-transform: uppercase;
    width: calc(100% - 20px);
    margin-bottom: 30px;
  }
}

.overlay-description {
  margin-bottom: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}

.overlay-description:hover .overlay {
  transform: translateX(0);
}

.overlay > .presentation__member-description {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $rosie;
  transform: translatex(-100%);
  transition: transform 250ms ease;
  opacity: 90%;
}

.social-list-presentation {
  list-style: none;
  display: flex;
  width: 150px;
  gap: 28px;
  margin-bottom: 15px;
  position: relative;
  //     &:before{
  //         content: "";
  //         position: absolute;
  //         background: url("/src/images/presentation_img/juli_works_adv.png") no-repeat center center/cover;
  //         width:150px;
  //         height: 300px;
  //         border-radius: 10px;
  //         // transform: rotate(-deg);
  //         top: -300px;
  //         left: 750px;

  // }

  &__icon {
    cursor: pointer;
    fill: $white;
    padding: 6.5px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    justify-content: center;
    &--presentation {
      cursor: pointer;

      background-color: $blueberry-lemonade;
    }
  }
}

@media (min-width: 768px) {
  .presentation {
    background-color: $rosie;
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .presentation {
    background-color: $rosie;
    max-width: 1200px;
    padding-bottom: 50px;
    // max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    &__group-name {
      font-size: 8rem;
      font-weight: 400;
    }
    &__title {
      display: flex;
      flex-direction: column;
      // width: calc(100% - 80px);
      font-size: 5rem;
      margin-top: 20px;
      margin-bottom: 0px;
      &--span {
        font-size: 5rem;
      }
    }

    &__button {
      font-size: 2rem;
      width: 600px;
      height: 60px;

      &:hover {
        background-color: $hover-background;
      }
    }

    &__previous-site {
      font-size: 2rem;
    }

    &__persons {
      display: flex;
      flex-direction: row;
      // align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 50px;
    }

    &__team {
      width: calc(100% - 10px);
      font-size: 2rem;
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 1000px;
    }

    &__team-members {
      display: flex;
      flex-direction: column;
      column-gap: 50px;
      // width: calc(100% - 20px);
    }

    &__team-members-name {
      margin: 30px auto 30px auto;
      row-gap: 20px;
      padding-top: 30px;
    }
    &__team-members-surname {
      font-size: 2rem;
      &--prezi {
        font-size: 3rem;
      }
    }

    &__member-list-border {
      border-right: 0.5px solid black;
      padding-right: 6px;
      padding-left: 6px;
      font-size: 1.7rem;

      &--Juli {
        font-size: 1.4rem;
      }
      &--descriptions {
        font-size: 2.2rem;
      }
    }

    &__problems {
      font-size: 5rem;
    }
  }
}
.overlay {
  left: -30px;
  width: 120%;
  height: 120%;
}
