.fade-in-down {
  animation: fade-in-down 2s;
}

@keyframes fade-in-down {
  0% {
    transform: translateY(75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in-right-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fade-in-left-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.opacity-transform-pop {
  animation: opacity-transform-pop 3s;
}

@keyframes opacity-transform-pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
